<!DOCTYPE html>
<html lang='ru'>

<head>
  <link rel="stylesheet" href="styles.css">
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon">
    <title>Добро пожаловать!</title>
    <style>

    </style>
</head>

<body>

    <div class = "header"></div>
    
    <div class= "container">
        <div class = "tablicka">
            <table>
                <tr>
                    <th>Наименование дисциплины</th>
                    <th>Семестр I</th>
                    <th>Зачёт</th>
                    <th>Дата сдачи экзамена</th>
                </tr>
                <tr>
                    <td>бланк</td>
                    <td><input type="text" maxlength="1" value="" name=""></td>
                    <td>бланк</td>
                    <td>бланк</td>
                </tr>
                <tr>
                    <td>бланк</td>
                    <td><input type="text" maxlength="1" value="" name=""></td>
                    <td>бланк</td>
                    <td>бланк</td>
                </tr>
                <tr>
                    <td>бланк</td>
                    <td><input type="text" maxlength="1" value="" name=""></td>
                    <td>бланк</td>
                    <td>бланк</td>
                </tr>
                <tr>
                    <td>бланк</td>
                    <td><input type="text" maxlength="1" value="" name=""></td>
                    <td>бланк</td>
                    <td>бланк</td>
                </tr>
                <tr>
                    <td>бланк</td>
                    <td><input type="text" maxlength="1" value="" name=""></td>
                    <td>бланк</td>
                    <td>бланк</td>
                </tr>
                <tr>
                    <td>бланк</td>
                    <td><input type="text" maxlength="1" value="" name=""></td>
                    <td>бланк</td>
                    <td>бланк</td>
                </tr>
                <tr>
                    <td>бланк</td>
                    <td><input type="text" maxlength="1" value="" name=""></td>
                    <td>бланк</td>
                    <td>бланк</td>
                </tr>
                <tr>
                    <td>бланк</td>
                    <td><input type="text" maxlength="1" value="" name=""></td>
                    <td>бланк</td>
                    <td>бланк</td>
                </tr>
                <tr>
                    <td>бланк</td>
                    <td><input type="text" maxlength="1" value="" name=""></td>
                    <td>бланк</td>
                    <td>бланк</td>
                </tr>
                <tr>
                    <td>бланк</td>
                    <td><input type="text" maxlength="1" value="" name=""></td>
                    <td>бланк</td>
                    <td>бланк</td>
                </tr>
            </table>
        </div>
        <div class = "sect"> 
            <table> 
                <tr> 
                    <th style="height: 60px;">Рейтинг</th> 
                </tr> 
                <tr> 
                    <td>1.</td> 
                </tr> 
                <tr> 
                    <td>2.</td> 
                </tr> 
            </table> 
        </div>
    </div>
    <div class = "rectangle">
        <button></button>
    </div>
    <script>
    var userLang = navigator.language || navigator.userLanguage;
    var userLang_detected = userLang.toLowerCase();
    if (userLang_detected != 'ru-ru' && userLang_detected != 'ru') {
        document.title = 'Welcome!';
        document.getElementById('t1').innerHTML = 'Welcome!';
        document.getElementById('t2').innerHTML = 'Open Server Panel is running ;-)';
        document.getElementById('t3').innerHTML = 'User\'s manual <i class="right"></i>';
    }
    </script>
</body>

</html>
